{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags static core_tags i18n mptt_tags %}

{% block content %}
{% if self.image %}
  {% image self.image width-320 class="article__image" %}
{% endif %}
<ul class="section-list-nav section-list-nav{{self.get_parent_section.get_effective_extra_style_hints}}">
  {% block breadcrumbs %}
    {% breadcrumbs %}
  {% endblock %}
</ul>
<div class="article article{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="article__title">{{self.title}}</h1>
  <p class="article__subtitle">{{self.subtitle}}</p>

  <div class="article__content">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h4 class="article__heading">{{ block.value }}</h4>
      {% elif block.block_type == 'image' %}
        {% image block.value width-320 class="article__image" %}
      {% elif block.value.youtube_link %}
        {% with block.value as media %}
          <div class="media-player">
            <div class="media-player__content">
              {% if not is_via_freebasics %}
                <div class="media-player__embed-object">
                  {% embed media.youtube_link %}
                </div>
                <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button" download>
                  <span class="call-to-action__button-text call-to-action__button-text--yellow">
                    {% trans "Download Video" %}
                  </span>
                </a>
              {% else %}
                <div class="media-player__no-player">
                  <h4 class="media-player__title">{{media.title}}</h4>
                  <a alt="{% trans 'Click to watch on youtube!' %}" href="{{ media.youtube_link }}" target="_top" class="media-player__icon">{% trans 'Click to watch on youtube!' %}</a>
                  <h3 class="media-player__subtitle">
                    {% trans "Media will be played externally in a new window" %}
                  </h3>
                </div>
              {% endif %}
            </div>
          </div>
        {% endwith %}
      {% elif block.value.type == 'video'%}
        <div class="media-player">
              <div class="media-player__content">
              {% with block.value as media %}
                {% if not is_via_freebasics %}
                  <video poster="/media/{{ media.thumbnail }}" controls>
                    <source src={{media.file.url}} type="video/mp4">
                    <source src={{media.file.url}} type="video/webm">
                    <source src={{media.file.url}} type="video/ogg">
                    <span class="media-player__caption">
                      {% trans "Your browser does not support the video tag." %}
                    </span>
                  </video>
                  <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button" download>
                    <span class="call-to-action__button-text">
                      {% trans "Download Video" %}
                    </span>
                  </a>
                {% else %}
                  <div class="media-player__no-player">
                    <h4 class="media-player__title">{{media.title}}</h4>
                    <a alt="{% trans 'Click here to download video' %}" href="{{media.file.url}}" target="_top" onclick="ga('send', 'event', 'Video', 'Download', '{{media.title}}');" class="call-to-action__button media-player__icon" download></a>
                    <h3 class="media-player__subtitle">
                      {% trans "Video files will not be played, you can download them" %}
                    </h3>
                  </div>
                {% endif %}
              {% endwith %}
              </div>
            </div>
      {% elif block.value.type == 'audio'%}
        <div class="media-player">
          <div class="media-player__content">
          {% with block.value as media %}
            {% if not is_via_freebasics %}
              <audio controls>
                <source src={{media.file.url}} type="audio/mpeg">
                <source src={{media.file.url}} type="audio/ogg">
                <source src={{media.file.url}} type="audio/wav">
                  <span class="media-player__caption">
                    {% trans "Your browser does not support the audio tag." %}
                  </span>
              </audio>
              <a href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button" download>
                <span class="call-to-action__button-text">
                  {% trans "Download Audio" %}
                </span>
              </a>
            {% else %}
              <div class="media-player__no-player">
                <h4 class="media-player__title">{{media.title}}</h4>
                <a alt="{% trans 'Click here to download audio' %}"  href="{{media.file.url}}" onclick="ga('send', 'event', 'Audio', 'Download', '{{media.title}}');" class="call-to-action__button  media-player__icon" download></a>
                <h3 class="media-player__subtitle">
                  {% trans "Audio files will not be played, you can download them" %}
                </h3>
              </div>
            {% endif %}
          {% endwith %}
          </div>
        </div>
      {% elif block.block_type == 'list' %}
        <ul class="article-unordered-list">
          {% for item in block.value %}
          <li class="article-unordered-list__item">{{ item|handle_markdown }}</li>
          {% endfor %}
        </ul>
      {% elif block.block_type == 'numbered_list' %}
        <ol class="article-numbered-list">
          {% for item in block.value %}
          <li class="article-numbered-list__item">{{item|handle_markdown}}</li>
          {% endfor %}
        </ol>
      {% elif block.block_type == 'page' %}
        <a href="{% pageurl block.value %}" class="article__pages-link">{{block.value }}</a>
      {% else %}
          {{ block }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="article__social">
    {% social_media_article page=self %}
  </div>
</div>
{% include "core/next-article.html" %}
{% include "core/related-article-list.html" %}
{% endblock %}
