Django>=4.0.2,<4.1
elasticsearch==1.7.0
django-modelcluster<6.0,>=5.3
django-taggit>=1.4.0,<2.0.0
djangorestframework<4.0,>=3.7.4
django_microsoft_auth<2.5,>=2.4.0
celery==5.3
gunicorn
psycopg2-binary>=2.8,<2.9
django_compressor==2.2
django-mptt~=0.13.0
django-google-analytics-app~=4.4.0
Unidecode==0.04.16
django-storages==1.7.1
dj-database-url>=0.5.0,<0.6.0
boto
pyrabbit
responses
python-cas>=1.4.0
markdown>=3.0.1
redis
wagtail==2.16.2
django-cas-ng~=4.3.0
django_enumfield>=3.0.0
wagtailmedia==0.12.0
django_extensions==3.2.1
