{% load wagtailcore_tags core_tags wagtailsettings_tags %}
{% get_settings %}
{% if settings.profiles.UserProfilesSettings.terms_and_conditions %}
  {% pageurl settings.profiles.UserProfilesSettings.terms_and_conditions as terms_url %}
{% endif %}

{% if footers %}
  {% for page in footers %}
  	{% pageurl page as page_url %}
    {% if page_url != terms_url %}
      <li class="menu-list__item">
        <a href="{% pageurl page %}" class="footer-link {% if not page.image %}footer-link--no-image-upload{% endif %}">
          <span class="footer-link__title">{{page.title}}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
{% endif %}
