{% load wagtailcore_tags wagtailimages_tags i18n %}

{% if social_media %}
  <div class="social_media">
    <ul class="menu-list">
      {% for site in social_media %}
       <li class="menu-list__item">
          <a href="{{ site.value.link }}" class="call-to-action__item-share--footer {% if site.value.image %} call-to-action__item-share-with-image {% endif %}">
            {% if site.value.image %}
              {% image site.value.image width-100 class="call-to-action__item-share-img" %}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
