.article-list {
  &__item {
    position: relative;
    border-bottom: solid 1px var(--very-dark-gray-1);
    overflow: auto;
    a {
      display: block;
      color: var(--very-dark-gray);
    }
    &:last-child {
      border: none;
    }
    &--hero {
      border-top: 2px solid var(--very-dark-gray-1);
      .article-list__title {
       font-size: $font-x-medium;
       padding: 10px 15px 0;
      }
      .section-list__title--homepage {
        padding: 0 15px;
      }
    }
  }
  &__container {
    clear: both;
    padding: 15px 15px 5px;
    overflow: auto;
    &--hero {
      display: block;
      padding: 0 0 5px;
      .article-list__section,
      .article-list__title,
      .section-list__title,
      .article-list__subtitle {
        padding: 5px 15px 0;
      }
    }
    a {
      display: block;
    }
  }
  &__title {
    color: #000;
    font-size: $font-x-medium;
    line-height: 1.1;
    word-wrap: break-all;
  }
  &__subtitle {
    font-weight: normal;
    margin: 5px 0;
    padding-top: 5px;
  }
  &__image {
    display: block;
    height: auto;
    margin: 0 15px 0 0;
    width: 100%;
    &--small {
      float: left;
      padding: 10px 15px 0 0;
      width: 50%;
    }
    &--content {
      text-align: center;
    }
  }
  &__inner {
    &--regions  {
      .article-list__title {
        color: var(--very-dark-gray);
      }
      .article-list__subtitle {
        color: var(--very-dark-gray);
        font-size: $font-small;
        margin: 0;
        padding: 0;
      }
    }
  }
  &__comments-counter {
    text-transform: capitalize;
    font-size: $font-small;
    padding: 0 15px 10px;
    color: var(--very-dark-gray);
    display: block;
    clear: left;
    .icon {
      display: none;
    }
  }
  &__section {
    text-transform: uppercase;
    padding: 10px 0 0;
  }
  &__buttons {
    display: block;
    transition: all 0.2s linear;
    .rich-text p {
      display: inline-block;
      padding: 5px 10px 5px 0;
      width: auto;
    }
    .cta_button,
    .rich-text p a {
      background: var(--strong-orange);
      color: #fff;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      display: block;
      font-size: 1em;
      padding: 5px 15px;
      &:after {
        content: "→";
        margin-left: 5px;
        display: inline-block;
      }
      &:hover,
      &:active,
      &:focus {
        background: #fff;
        color: var(--strong-orange);
        border: 1px solid var(--strong-orange);
      }
    }
  }
}
