.call-to-action__nav-item {
  color: var(--very-dark-grayish-blue);
  text-decoration: none;
  font-weight: normal;
  padding: 10px 15px;
}

.call-to-action__button-text {
  color: var(--strong-orange);
  text-align: center;
  display: block;
}
.call-to-action__button-text--hyperlink {
  color: var(--strong-orange);
  text-align: center;
  display: block;
}

//PROFILES
.call-to-action--profile {
  padding: 0 15px 15px;
}
.call-to-action--view-profile {
  padding: 0;
}
.call-to-action__nav-item--challenge {
  text-align: left;
  color: var(--very-dark-grayish-blue);
  margin: 0;
  text-decoration: none;
  text-transform: inherit;
  font-size: $font-large;
}
.call-to-action__nav-item--login {
  background: #fff;
  color: var(--very-dark-grayish-blue);
  font-size: $font-small;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

//Comments
.call-to-action__nav-item--response {
  text-transform: capitalize;
  font-weight: bold;
}

//Poll
.call-to-action__nav-item-show-results {
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
}

//Articles & General Pages
.call-to-action__nav-item--back-home {
  color: var(--very-dark-grayish-blue);
  font-weight: bold;
}
