 #language-selection__toggle,
#language-selection__toggle--footer {
  visibility: hidden;
  position: absolute;
}

.language {
  background: var(--very-light-gray);
  color: var(--strong-blue);
  &__bar {
    overflow: auto;
  }
  &-current {
    color: var(--strong-blue);
    display: inline-block;
    padding: 0 10px;
    margin: 3px 4em 0 0; //REVIEW
    opacity: .8;
    text-transform: uppercase;
    font-size: 12px;
    span {
      color: var(--strong-orange);
      font-weight: bold;
    }
  }

  &-selection {
    border-bottom: 2px solid var(--dark-blue);
    &__toggle-input {
      display: none;
      &:not(checked) ~ .language-selection {
        display: none;
      }
      &:checked ~ .language-selection {
       display: block;
      }
    }
  }
  &-selection--footer {
    padding: 10px 0 0;
    border-bottom: none;
    .language-list {
      background: #f0f0f0;
      &__item a {
        color: $tiber;
      }
    }
  }
}

.select-language {
  color: var(--strong-blue);
  cursor: pointer;
  display: inline-block;
  &:after {
    content: "";
    background: url('/static/img/arrow-down-blue.svg') no-repeat 0 0, 100%;
    margin: 0 5px;
    display: inline-block;
    width: 20px;
    height: 15px;
  }
  &:hover, &:focus {
    color: var(--strong-orange);
    &:after {
      background: url('/static/img/arrow-down-orange.svg') no-repeat 0 0, 100%;
    }
  }
  &--footer {
    padding: 0;
    &:after {
      font-size: $font-small;
    }
  }
}


.language-list {
  background: #fff;
  &__item {
  text-align: right;
   padding: 20px;
   a {
      color: var(--strong-blue);
      &:after {
        background: url('/static/img/arrow-down-blue.svg') no-repeat 0 0, 100%;
        content: "";
        display: inline-block;
        width: 20px;
        height: 15px;
      }
      &:hover, &:focus {
        color: var(--dark-gray);
        &:after {
          background: url('/static/img/arrow-down-orange.svg') no-repeat 0 0, 100%;
        }
      }
    }
    &--active a {
      text-decoration: underline;
      &:after {
        text-decoration: none;
      }
    }
  }
}
