.menu-links {
  margin-top: 5px;
}
.menu-list {
  &__item  {
    border-bottom: 1px solid var(--dark-blue);
    color: #fff;
    font-size: $font-x-small;
    padding: 5px 15px;
    &:after {
      display: inline-block;
      float: right;
      margin-top: 3%;
      @media only screen and (min-width: 320px) {
        content: ">";
      }
      @media only screen and (min-width: 490px) {
        content: "❯";
      }
    }
    a {
      color: #fff;
      display: inline-block;
      font-size: $font-medium;
      font-weight: bold;
      text-transform: capitalize;
      text-decoration: underline;
    }
  }
  &__description {
      color: #fff;
    display: block;
    text-transform: initial;
    font-weight: normal;
    font-size: $font-x-small;
    padding: 0 15px 0 0;
  }
}
