.section {
  &__image {
    margin: 0 auto;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title-heading {
    padding: 5px 10px 10px;
    font-size: $font-xx-large;
  }
  &__description {
    padding: 5px 10px;
  }
  &__subtitle  {
    padding: 0 15px 10px;
  }
  &__title {
    font-size: $font-x-large;
    padding: 15px 15px 0;
  }

  &-heading {
    text-align: center;
    margin: 0 auto;
    padding: 2em 0 1.5em;
    .menu-list__anchor {
      display: block;
    }
  }
  &-menu {
    background: var(--strong-blue);
    border-top: 2px solid var(--dark-blue);
    font-size: $font-small;
    .menu-list__item {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      &:after {
        float: none;
        margin: 0;
        cursor: pointer;
      }
    }
  }
  &-image {
    width: 100%;
    height: auto;
  }
}

.section-list-nav {
  padding: 10px 15px 15px;
  text-transform: uppercase;
  font-weight: bold;
  &__link {
    font-size: $font-x-small;
    padding-right: 10px;
    text-decoration: underline;
    vertical-align: middle;
  }
  &__item {
    display: inline;
    &:after {
      margin: 0 3px 0 -3px;
      font-size: $font-x-small;
       @media only screen and (min-width: 320px) {
        content: ">";
      }
      @media only screen and (min-width: 490px) {
        content: "❯";
      }
    }
    &--current:after {
      content: "";
    }
  }
}

.section-list {
  &__title {
    text-transform: uppercase;
    padding: 10px 15px;
    border-bottom: 1px solid var(--very-blue);
    &--homepage {
      padding: 10px 0 0;
      border-bottom: none;
    }
  }
  &__more {
    display: block;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: underline;
  }
}

.section-list__container {
  clear: both;
  background: var(--strong-blue);
  padding: 5px 15px;
  overflow: auto;
  border-bottom: 1px solid var(--dark-blue);
  color: #727172;
  font-size: $font-x-small;
  padding: 5px 15px;
  a {
    color: #fff;
    display: inline-block;
    font-size: $font-small;
    font-weight: bold;
    text-transform: uppercase;
  }
}
