.social-media__anchor,
.call-to-action__item-share {
  $block: unquote("#{&}");
  color: #000;
  padding: 5px;
  &:hover {
    color: var(--strong-orange);
    opacity: 0.9;
    #{$block}-title {
      color: var(--strong-orange);
    }
  }
  &-img {
    display: block;
    max-width: 25px;
    max-height: 25px;
  }
  &-with-image {
    text-align: left;
    &:after {
      margin-top: 5px;
    }
  }
  &-title {
    color: #000;
    display: inline-block;
    font-size: $font-x-small;
    text-decoration: underline;
  }

  &--footer {
    margin: 0;
    color: #fff;
    padding: 5px 10px 0;
    #{$block}-title {
      color: #fff;
      text-decoration: none;
      margin: 5px 0;
    }
    #{$block}-img {
      display: inline-block;
      max-width: 35px;
      height: auto;
      width: 100%;
      padding: 0 5px 0 0;
    }
  }
}
