.logo  {
  display: block;
  img {
    margin-bottom: 10px;
    vertical-align: middle;
    height: auto;
    max-width: 50%;
  }
}
.section-image {
  width: 100%;
  height: auto;
}
.error {
  font-size: $font-x-small;
  display: block;
  color: #ff0000;
}
