.footer {
  background: var(--strong-blue);
  border-top: 2px solid var(--dark-blue);
  &-link--no-image-upload {
    padding: 5px 0;
  }

  .menu-list__item {
  position: relative;
  overflow: auto;
  padding: 0;
    &--icon {
      width: 87%;
    }
    .footer-link {
      padding: 5px 10px;
      color: #fff;
      display: block;
      font-size: $font-small;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      &:after {
        display: inline-block;
        float: right;
        margin-top: 3%;
        @media only screen and (min-width: 320px) {
          content: ">";
        }
        @media only screen and (min-width: 490px) {
          content: "❯";
        }
      }
      &__title {
        margin: 3% 0;
        display: inline-block;
        width: 80%;
      }
      &--no-image-upload {
        &:after {
          margin-top: 0;
        }
        .footer-link__title {
          margin-top: 0;
          display: inline;
        }
      }
    }  
  }
}