.related-articles-up-next .call-to-action__nav-item-text {
  text-align: left;
    &:after {
    display: inline-block;
    margin-left: 5px;
    @media only screen and (min-width: 320px) {
      content: ">";
    }
    @media only screen and (min-width: 490px) {
      content: "â¯";
    }
  }
}
.related-articles-recommended-list__content {
  padding: 0 15px;
}
