.call-to-action__nav-item--logout,
.call-to-action__nav-item--editprofile,
.call-to-action__nav-item--change-password,
.call-to-action__button--primary {
  background: var(--very-dark-grayish-blue);
  color: #fff;
  text-align: center;
  text-decoration: none;
}

//Comments Report Buttons
.call-to-action__nav-item--response {
  text-decoration: none;
  font-size: $font-small;
  margin: 0;
}

//Section
.call-to-action__nav-item--back,
.call-to-action__nav-item--back-home {
  position: relative;
  width: auto;
  &:before {
    display: inline-block;
    padding: 0 5px 10px 0;
    font-size: $font-x-small;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
      content: "â®";
    }
  }
}
