.search-form {
  input[type="submit"] {
    position: absolute;
    right: 15px;
    top: 13px;
    margin: 10px 0;
  }
}
.search-form--main {
  padding: 15px 0px 15px;
  input[type="submit"] {
    right: 15px;
  }
}
