.footer {
  background: var(--dark-saturated-blue);
  color: #fff;
  padding: 20px 0 0;
  .menu-list__item {
    position: relative;
    padding: 0;
    border-bottom: none;
    &:after {
      display: none;
    }
    &--icon {
      width: 87%;
    }
    .footer-link {
      padding: 5px 10px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-weight: normal;
      font-size: $font-small;
      text-transform: inherit;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
      &__title {
        margin: 0;
        display: inline-block;
      }
      &__thumbnail-icon {
        display: inline-block;
        height: auto;
        max-width: 45px;
        vertical-align: middle;
      }
      &--no-image-upload {
        &:after {
          margin-top: 0;
        }
        .footer-link__title {
          display: inline;
        }
      }
    }
  }
}
